/* Estilos do botão */
.submit-button {
    background-color: #1d6fb6;
    border: none;
    color: var(--text-head);
    height: 48px;
    width: 177px;
    text-decoration: none;
    cursor: pointer;
    border-radius: .5rem;
    font: var(--text-body-md);
    justify-content: center;
    align-items: center;


    span{

        img{
            width: 20px;
            height: 20px;
        }
    }
}
/* Alinhar o botão à direita */
.consent-form .submit-button {
    display: block;
    margin-left: auto;
    
}