/* Estilos do formulário */
.consent-form {
    padding: 20px;
    border-radius: 10px;
}

/* Estilos do container de checkbox */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

/* Esconder checkbox padrão */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Estilo do checkmark */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 4px;
}

/* Ícone do checkmark */
.checkmark:after {
    content: url(/assets/icons/check-checked.svg);
    display: none;
}

/* Mostrar o ícone quando marcado */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Estilos dos links */
.checkbox-container a {
    color: var(--brand-light);
    text-decoration: none;
}

.checkbox-container a:hover {
    text-decoration: underline;
}