input, textarea{
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 2px solid var(--input-stroke);
    /* outline: 1px solid var(--stroke-default); */
    
    padding: .75rem;

    font: var(--text-body-md);
    color:var(--input-placeholder);
    background-color: var(--input-base);

    
}

.input-wrapper {
    margin-right: 1rem;
    

    & :last-child{
        margin-right: 0;
    }
}

label{
    color: var(--text-body);
    font: var(--text-body-sm);

    display: block;
    margin-bottom: 1rem
}

.alert{
    img{
        margin-top: .5rem;
    }
    span{
        font: var(--text-body-sm);
        color:#ff5959
    }
    
}

input:valid + .alert {
    display: none;
}

input:invalid {
    border: 2px solid #ff5959;
}

#email:valid{
    background-color: var(--input-base);
}